.navbar{
  width: 80%;
  height: 70px;
  background-color: honeydew;
  margin: 0 auto 40px auto;
  position: fixed;

  ul{
    display: flex;
    list-style: none;
  }
  li{
    margin-right: 30px;
    color: black;
  }

  .ant-tabs-tab{
    font-family: Menlo, sans-serif;
    //font-size: 20px;
    margin-left: 20px;
  }

  .ant-menu{
    background-color: honeydew;
    font-size: 15px;
  }

  .authBar{
    float: right;
  }

}


