#navbar {
    /*align-items: center;*/
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 1128px;
    background-color: burlywood;
}

#menu{
    margin-top: auto;
    margin-left: 0;
}

ul#menu li{
    display: inline-block;
    margin-right: 25px;
    font-family: Menlo, serif;
    font-style: normal;
    height: auto;
    margin-bottom: auto;
}


.link{
    color: black;
}

.logout{
    margin-left: auto;
    display: flex;
}

.logout button{
    margin: 10px;
    border-radius: 10px;
    padding: 1px 30px 1px 30px;
}

.login{
    margin-left: auto;
    display: flex;
}

.login ul{
    display: flex;
    list-style: none;
}
.login li{
    margin: 20px;
    font-family: Courier, serif;
    font-weight: bolder;
    color: darkblue;
}
