.problems{
    margin-left: 200px;
    margin-top: 20px;
    width: 700px;
    height: auto;
    /*border-style: solid;*/
    /*background-color: whitesmoke;*/
    justify-content: center;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*display: flex;*/
    border-style: dashed;
    border-color: white;
    border-top-color: darkgray;

}

.problems h2{
    text-align: center;
    font-size: 22px;
    font-family: Courier, serif;
    font-weight: bolder;
}

.taskMenu{
    margin-left: 200px;
    margin-top: 50px;
    width: 700px;
    height: 30px;
    /*border-style: solid;*/
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    /*display: flex;*/
}
.taskMenu span{
    margin-right: 30px;
    font-family: Monospaced, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border-radius: 5px;

}

.statement{
    padding: 20px;
}

.statement p{
    font-size: 15px;
    padding-top: 10px;
    font-family: "PT Mono", sans-serif;
}


.button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px;
}

.button button{
    margin: 0 auto;
    border-radius: 5px;
    background-color: slategray;
    padding: 5px 10px 5px 10px;
    color: white;
}

.problems h3{
    font-size: 20px;
    font-family: Courier, serif;
    font-weight: bolder;
}

.selected{
    color: red;
}

.inputFormat{
    background-color: lightgray;
    border-radius: 3px;
}
.inputFormat h3{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
}

.inputFormat p{
    padding-left: 10px;
    background-color: white;
    font-family: Roboto, sans-serif;
    padding-top: 15px;
    font-size: 14px;
    padding-bottom: 15px;
}

.sampleTest{
    background-color: white;
}

.sampleTest p{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*font-weight: bolder;*/
    font-family: Menlo, sans-serif;
    min-height: 100px;
    border-radius: 2px;
}

.sampleTest h5{
    font-family: Courier, sans-serif;
    padding-left: 10px ;
    padding-top: 10px;
    font-weight: bolder;
    color: darkblue;
    font-size: 17px;
}

.copyText{

}