.problem{
  width: 800px;
  margin: 0 200px;
  background-color: whitesmoke;
  padding: 20px;
}

.submit{

  width: 800px;
  margin: 0 200px;
  background-color: whitesmoke;
  padding: 20px;

}


.submissions{

  width: 800px;
  margin: 0 200px;
  background-color: whitesmoke;
  padding: 20px;

}
