
#main {
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    margin: auto;
    margin-top: 20px;
    /*border-style: groove;*/
    border-radius: 10px;
    padding: 30px;
    background-color: whitesmoke;
    width: 500px;

}
form.register{
    display: inline-block;
    position: center;
}

form input{
    /*float: right;*/
    /*display: block;*/
    position: relative;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    border-style: groove;
    border-width: thin;
    border-radius: 10px;
    /*outline-color: brown;*/
    /*background-color: antiquewhite;*/
    margin-left: 20px;
    font-family: Menlo, sans-serif;
    width: 100%;


}

input:focus {
    background-color: aliceblue;
}

input, label{
    display: block;
    margin-left: 20px;

}

input::placeholder{
    font-size: 14px;
}

label {
    font-family: Courier, serif;
    font-weight: bolder;
    font-size: 17px;
}

button{
    float: right;
    margin-bottom: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}

button:focus{
    /*border: none;*/
    outline: none;
    border-color: transparent;
}
button:focus:after{
    border: none;
    box-shadow: none;
}
button:active{
    border: none;
    outline: none;
}

.button {
    margin: auto;
    /*margin-bottom: 20px;*/
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    border-style: none;
    color: white;
    background-color: dimgrey;
    position: relative;
}
#button{
    /*display: block;*/
    /*padding: 20px;*/
    /*background-color: #61dafb;*/
    list-style: none;
    margin: auto;
    justify-content: center;
    display: flex;
}
.button:hover {opacity: 1}

form div{
    display: block;
}

.error{
    margin-bottom: 15px;
    margin-left: 15px;
    color: red;
}

/*input:required {*/
/*    background-color: aqua;*/
/*}*/